.widgets{

    position: sticky;
    top: 80px;
    flex: 0.2;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
    height: fit-content;
    padding-bottom: 10px;
}

.widgets_header{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.widgets_header h2{

    font-size: 16px;
    font-weight: 400;
}

.widgets_articles{

    display: flex;
    cursor: pointer;
    padding: 10px;
}

.widgets_articles:hover{
    background-color: whitesmoke;
}

.widgets_left{

    color: #0177b7;
    margin-right: 5px;
}

.widgets_left .MuiSvgIcon-root{
    font-size: 15px;
}

.widgets_right{
    flex: 1;
}

.widgets_right h4{
    font-size: 14px;
}

.widgets_right p{
    font-size: 12px;
    color: gray;
}